@media only screen and (max-width: 600px) {
    .vw-1 {
        font-size: 8vw !important;
        margin: 0 !important;
        padding: 0 !important
    }

    .hide-1 {
        display: none !important;
    }

    .hide-2 {
        display: block !important;
    }

    .w-lg-75 {
        width: 100% !important;
    }

}